body {
  background: yellow;
}

.App {
  text-align: center;
  background-image: url("./image/Flag_of_the_Soviet_Union.svg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 800px;
  width: 100%;
  padding: 2%;
}

h2 {
  font-size: 3rem;
}

p {
  margin: 5px;
  font-size: 1.2rem;
  font-style: italic; 
}

.russian {
  font-size: 0.9rem;
}

li {
  list-style: none;
}

form {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding: 2%;
  margin: 2%;
  border-radius: 15px;
}

form div {
  margin: 8px;
  
}

label {
  margin: 2% 1% 0 0;
}

input {
  margin: 2% 0;
  font-weight: bold;
  font-size: 1rem;
  width: 382px;
  height: 40px;
  text-align: center; 
}

.checkbox-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-top: 32px;
  cursor: pointer;
  font-size: 18px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.checkbox-container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checkbox-container input:checked ~ .checkmark {
  background-color: #5eb7b3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkbox-container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.security-input {
  margin: 0;
  padding: 0;
}

.li {
  color: black;
  font-weight: bold;
  font-size: 0.8rem;
}

.security-select {
  display: block;
  font-size: 16px;
  font-family: sans-serif;
  color: #444;
  line-height: 1.3;
  padding: 0.6em 1.4em 0.5em 0.8em;
  width: 382px;
  max-width: 100%;
  box-sizing: border-box;
  margin: 0;
  margin-top: 32px;
  border: 2px solid rgba(77, 45, 82, 0.8);
  box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E"),
    linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
  background-repeat: no-repeat, repeat;
  background-position: right 0.7em top 50%, 0 0;
  background-size: 0.65em auto, 100%;
}
.security-select::-ms-expand {
  display: none;
}

.security-select:hover {
  border-color: #888;
}

button {
  background: purple;
  background-image: linear-gradient(-315deg, yellow 40%,yellow 100%);
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px 15px;
  margin-top: 40px;
  font-size: 24px;
  font-weight: bold;
  color: black;
  box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.12), 0 2px 2px 1px rgba(0, 0, 0, 0.24);
  transition: all 0.2 ease-in;
  margin-top: 15px;
}

button:hover {
  transform: translateY(-1px);
  box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.12), 0 2px 3px 2px rgba(0, 0, 0, 0.24);
  background: black;
  color: white;
}
button:active {
  background: purple;
          box-shadow: inset 0px 0px 5px #ff65a3;
   outline: none;
}